{# templates/project/list.html.twig #}

<h1>Projects</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Project Name</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.status }}</td>
            <td>{{ (task.startDate) ? task.startDate|date('F j, Y') : '' }}</td>
            <td>{{ (task.endDate) ? task.endDate|date('F j, Y') : '' }}</td>
            <td>{{ task.project.title }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{# Add pagination links here if needed #}
<div class="pagination">
    {{ knp_pagination_render(tasks) }}
</div>