{# templates/project/list.html.twig #}

<h1>Projects</h1>
<table>
    <thead>
    <tr>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Status</th>
        <th>Started Date</th>
        <th>Ended Date</th>
        <th>Duration</th>
        <th>Total Tasks</th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}
        <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.title }}</td>
            <td>{{ project.status }}</td>
            <td>{{ (project.startDate) ? project.startDate|date('F j, Y') : '' }}</td>
            <td>{{ (project.endDate) ? project.endDate|date('F j, Y') : '' }}</td>
            <td>{{ project.duration }}</td>
            <td>{{ project.totalTasks }}</td>
            <td><a href="{{ project.id }}/tasks">View</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{# Add pagination links here if needed #}
<div class="pagination">
    {{ knp_pagination_render(projects) }}
</div>